Assets/Editor Default Resources
Assets/ExternalDependencyManager
Assets/Firebase
Assets/GoogleMobileAds
Assets/GooglePlayGames
Assets/Parse
Assets/Plugins/Android/FirebaseApp.androidlib
Assets/Plugins/Android/GoogleMobileAdsPlugin.androidlib
Assets/Plugins/Android/*.jar
Assets/Plugins/Android/*.jar.meta
Assets/Plugins/Android/*.aar
Assets/Plugins/Android/*.aar.meta
Assets/Plugins/Android/FirebaseApp.androidlib.meta
Assets/Plugins/Android/GoogleMobileAdsPlugin.androidlib.meta
Assets/Plugins/iOS
Assets/Plugins/iOS.meta
Assets/Editor Default Resources.meta
Assets/ExternalDependencyManager.meta
Assets/Firebase.meta
Assets/GoogleMobileAds.meta
Assets/GooglePlayGames.meta
Assets/Parse.meta
Library
Logs
Temp
